<header>
  <div class="search_container">
    <input [formControl]="search" type="text" placeholder="Search country..." id="countrySearch" />
  </div>
  <h1>explore countries</h1>
</header>
<main>
  <ul>
    @if (searchReults$ | async; as results) {
      @if (results.length > 0) {
        @for (country of results; track country.countryCode) {
          <li>
            <a [routerLink]="'country/' + country.countryCode">
              <img
              [src]="`https://flagsapi.com/${country.countryCode}/flat/24.png`"
              [alt]="country.countryCode" />
              <span>{{ country.name }}</span>
              <mat-icon> call_made</mat-icon>
            </a>
          </li>
        }
      } @else {
        <p>No countries matches your search...</p>
      }
    }
    @else {
      <p>Loading...</p>
    }
  </ul>
  <aside>
    <section>
      <app-random-country-widget [countries]="countriesRandom"></app-random-country-widget>
    </section>
  </aside>
</main>
